services:
    # default configuration for services in this file
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.

    # FHIRPath component services
    Ardenexal\FHIRTools\Component\FHIRPath\:
        resource: '../../src/Component/FHIRPath/src/'
        exclude:
            - '../../src/Component/FHIRPath/src/AST/'
            - '../../src/Component/FHIRPath/src/Exception/'

    # Specific service configurations for FHIRPath component
    Ardenexal\FHIRTools\Component\FHIRPath\Service\FHIRPathService:
        public: true

    Ardenexal\FHIRTools\Component\FHIRPath\Cache\InMemoryExpressionCache:
        arguments:
            $maxSize: '%fhir.path.cache_size%'
        public: false

    Ardenexal\FHIRTools\Component\FHIRPath\Cache\ExpressionCacheInterface:
        alias: Ardenexal\FHIRTools\Component\FHIRPath\Cache\InMemoryExpressionCache
        public: false

    # Service aliases for easier access
    fhir.path_service:
        alias: Ardenexal\FHIRTools\Component\FHIRPath\Service\FHIRPathService
        public: true
