parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#2 \$enumName of method Ardenexal\\FHIRTools\\Component\\CodeGeneration\\Context\\BuilderContextInterface\:\:addPendingEnum\(\) expects class\-string, string given\.$#'
			identifier: argument.type
			count: 3
			path: src/Component/CodeGeneration/src/Generator/FHIRModelGenerator.php

		-
			message: '#^Parameter \#2 \$typeClassName of method Ardenexal\\FHIRTools\\Component\\CodeGeneration\\Context\\BuilderContextInterface\:\:addPendingType\(\) expects class\-string, string given\.$#'
			identifier: argument.type
			count: 3
			path: src/Component/CodeGeneration/src/Generator/FHIRModelGenerator.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 4
			path: src/Exception/GenerationException.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 2
			path: src/Exception/PackageException.php