includes:
    - phpstan-baseline.neon

parameters:
    level: 8
    paths:
        - bin/
        - config/
        - src/Bundle/FHIRBundle/
        - src/Component/CodeGeneration/src/
        - src/Component/Serialization/src/
        - src/Component/Models/src/
        - src/Component/FHIRPath/src/
    excludePaths:
        - */vendor/*
        - src/Component/*/tests/*
        - src/Component/*/output/*
    tmpDir: var/cache/phpstan
    parallel:
        maximumNumberOfProcesses: 4
