parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#2 \$enumName of method Ardenexal\\FHIRTools\\Component\\CodeGeneration\\Context\\BuilderContextInterface\:\:addPendingEnum\(\) expects class\-string, string given\.$#'
			identifier: argument.type
			count: 3
			path: src/Component/CodeGeneration/src/Generator/FHIRModelGenerator.php

		-
			message: '#^Parameter \#2 \$typeClassName of method Ardenexal\\FHIRTools\\Component\\CodeGeneration\\Context\\BuilderContextInterface\:\:addPendingType\(\) expects class\-string, string given\.$#'
			identifier: argument.type
			count: 3
			path: src/Component/CodeGeneration/src/Generator/FHIRModelGenerator.php

		-
			message: '#^Negated boolean expression is always true\.$#'
			identifier: booleanNot.alwaysTrue
			count: 1
			path: src/Component/FHIRPath/src/Parser/FHIRPathLexer.php

		-
			message: '#^Result of \|\| is always false\.$#'
			identifier: booleanOr.alwaysFalse
			count: 1
			path: src/Component/FHIRPath/src/Parser/FHIRPathLexer.php

		-
			message: '#^Strict comparison using \!\=\= between '' '' and ''\\'''' will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 1
			path: src/Component/FHIRPath/src/Parser/FHIRPathLexer.php

		-
			message: '#^Strict comparison using \=\=\= between ''E''\|''e'' and ''\+'' will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: src/Component/FHIRPath/src/Parser/FHIRPathLexer.php

		-
			message: '#^Strict comparison using \=\=\= between ''E''\|''e'' and ''\-'' will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: src/Component/FHIRPath/src/Parser/FHIRPathLexer.php

		-
			message: '#^Strict comparison using \=\=\= between ''T'' and ''\+'' will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: src/Component/FHIRPath/src/Parser/FHIRPathLexer.php

		-
			message: '#^Strict comparison using \=\=\= between ''T'' and ''\-'' will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: src/Component/FHIRPath/src/Parser/FHIRPathLexer.php

		-
			message: '#^Strict comparison using \=\=\= between ''T'' and ''\.'' will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 2
			path: src/Component/FHIRPath/src/Parser/FHIRPathLexer.php

		-
			message: '#^Strict comparison using \=\=\= between ''T'' and ''\:'' will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 2
			path: src/Component/FHIRPath/src/Parser/FHIRPathLexer.php

		-
			message: '#^Strict comparison using \=\=\= between ''T'' and ''Z'' will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: src/Component/FHIRPath/src/Parser/FHIRPathLexer.php

		-
			message: '#^Unreachable statement \- code above always terminates\.$#'
			identifier: deadCode.unreachable
			count: 1
			path: src/Component/FHIRPath/src/Parser/FHIRPathLexer.php

		-
			message: '#^While loop condition is always false\.$#'
			identifier: while.alwaysFalse
			count: 1
			path: src/Component/FHIRPath/src/Parser/FHIRPathLexer.php

		-
			message: '#^If condition is always false\.$#'
			identifier: if.alwaysFalse
			count: 1
			path: src/Component/FHIRPath/src/Parser/FHIRPathParser.php