services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false

    # FHIRPath Console Commands
    Ardenexal\FHIRTools\Bundle\FHIRBundle\Command\FHIRPathEvaluateCommand:
        arguments:
            $pathService: '@Ardenexal\FHIRTools\Component\FHIRPath\Service\FHIRPathService'
        tags: ['console.command']

    Ardenexal\FHIRTools\Bundle\FHIRBundle\Command\FHIRPathValidateCommand:
        arguments:
            $pathService: '@Ardenexal\FHIRTools\Component\FHIRPath\Service\FHIRPathService'
        tags: ['console.command']